/* ヘッダー */
.title {
    font-weight: bold;
    font-size: 30px;
    color: blue;
}

.navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* トップページ */

.index-store-name {
    font-weight: bold;
    font-size: 20px;
}

.index-card {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


/* マイページ */
.flex {
    display: flex;
}

h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.user-name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.reservation {
    width: 50%;
}

.mypage-table {
    width: 80%;
    background: #3366FF;
    color: white;
    margin-bottom: 50px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.favorite-card {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

th {
    text-align: center;
    padding: 20px 10px;
}

.reserve-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\f017";
    margin: 5px;
}

.delete-icon {
    padding-left: 100px;
}

.table-menu {
    width: 40%;
    text-align: center;
    padding: 10px 10px;
}

.table-content {
    width: 50%;
    padding: 10px 10px;
}

.last-table-menu {
    width: 40%;
    text-align: center;
    padding: 10px 10px 30px 10px;
}

.last-table-content {
    width: 50%;
    padding: 10px 10px 30px 10px;
}

.favorite {
    width: 50%;
    margin-left: 50px;
}

.card-size {
    width: 80%;
}


/* ログイン,会員登録ページ */

.card-header {
    background: #3366FF;
    color: white;
    font-size: 20px;
}

.login-card {
    width: 35%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.email-input::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
    font-size: 1.5em;
}

.email-input {
    text-align: center;
    padding: 10px 10px;
}

.email-input input {
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    margin-left: 5px;
}

.password-input::before {
    font-family: "Font Awesome 5 Free";
    content: "\f13e";
    font-size: 1.5em;
}

.password-input {
    text-align: center;
    padding: 10px 10px;
}

.password-input input {
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    margin-left: 5px;
}

.login-btn {
    background: #3366FF;
    margin-right: 30px;
    margin-top: 5px;
}

.user-input::before {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-size: 1.5em;
}

.user-input {
    text-align: center;
    padding: 10px 10px;
}

.user-input input {
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    margin-left: 5px;
}

.password-confirm-input::before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    font-size: 1.5em;
}

.password-confirm-input {
    text-align: center;
    padding: 10px 10px;
}

.password-confirm-input input {
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    margin-left: 5px;
}

/* thanks,doneページ */
.thanks {
    width: 100%;
}

.thanks-card {
    width: 50%;
    height: 300px;
}

.thanks-body {
    position: relative;
}

.thanks-btn {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.thanks-btn h5 {
    margin-bottom: 30px;
    font-size: 18px;
}

.thanks-btn a {
    margin: 0;
}

/* 店舗詳細ページ */

.show {
    width: 100%;
    display: flex;
}

.show-store {
    width: 40%;
}

.show-store img {
    width: 100%;
}

.show-reservation {
    width: 50%;
}

.show-store-name {
    font-size: 26px;
}

.show-reservation-p {
    background: #3366FF;
    color: white;
    border-radius: 5px;
}

.show-reservation-top {
    padding: 30px 50px 0px 20px;
}

.show-reservation-bottom {
    padding: 0px 50px 0px 20px;
}

.show-table {
    margin-top: 20px;
    margin-bottom: 150px;
    background: #6699FF;
    width: 100%;
    border-radius: 5px;
}

.show-table-menu {
    width: 20%;
    padding: 5px 20px;
}

.show-table-content {
    width: 80%;
    padding: 5px 20px;
}

.first-menu {
    width: 20%;
    padding: 30px 20px 5px 20px;
}

.first-content {
    width: 80%;
    padding: 30px 20px 5px 20px;
}

.last-menu {
    width: 20%;
    padding: 5px 20px 30px 20px;
}

.last-content {
    width: 80%;
    padding: 5px 20px 30px 20px;
}

.show-btn {
    background: blue;
    color: white;
    height: 50px;
}
